.quoteContainer {
  background-color: var(--rtc-davys-gray);
  width: 80%;
  padding: var(--rtc-l-spacing) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quoteText,
.quoteAuthor {
  color: var(--rtc-seasalt);
  width: fit-content;
  padding: var(--rtc-s-spacing);
}

.quoteAuthor {
  border: 1px solid var(--rtc-grey);
  border-top: 0;
}

.quoteText {
  border: 1px solid var(--rtc-grey);
}

.Quote {
  height: max-content;
  display: flex;
  flex-direction: column;
}
