.main-button {
  border-radius: 0;
  padding: var(--rtc-s-spacing) var(--rtc-s-spacing) var(--rtc-xs-spacing)
    var(--rtc-s-spacing);
  cursor: pointer;
  font-family: var(---rtc-font-family);
  transition: ease 0.5s;
  box-shadow: none;
}

.main-button:hover {
  transition: ease 0.5s;
  box-shadow: 2px 2px 2px 0px rgba(89, 255, 0, 0.75);
  font-family: var(--rtc-font-bold);
}
