.homeContainer {
  width: 80%;
  background-color: var(--rtc-davys-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleSpan {
  color: var(--rtc-bright-green);
}

.Title {
  color: var(--rtc-seasalt);
  font-size: 30px;
}

.description {
  color: var(--rtc-silver);
  font-size: 14px;
  width: 70%;
}

.mainImage {
  width: 25rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--rtc-l-spacing);
}
