.homeContainer {
  width: 80%;
  background-color: var(--rtc-davys-gray);
  display: flex;
  flex-direction: column;
  padding-top: var(--rtc-l-spacing);
  align-items: center;
  justify-content: space-between;
}

.titleSpan {
  color: var(--rtc-bright-green);
}

.Title {
  color: var(--rtc-seasalt);
  font-size: 30px;
}

.description {
  color: var(--rtc-silver);
  font-size: 14px;
  width: 70%;
}

.mainImage {
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--rtc-l-spacing);
}

@media screen and (min-width: 741px) {
  .mainImage {
    width: 25rem;
  }
}

@media screen and (min-width: 600px) {
  .mainImage {
    width: 20rem;
  }
}

@media screen and (min-width: 500px) {
  .mainImage {
    width: 15rem;
  }

  .homeContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
