header {
  width: 80%;
  height: var(--rtc-xl-spacing);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: var(--rtc-davys-gray);
  padding-top: var(--rtc-m-spacing);
}

nav {
  width: 100%;
}

.linkList {
  display: flex;
  gap: var(--rtc-m-spacing);
  align-items: center;
  justify-content: end;
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    align-items: center;
  }
}
