.landingImage {
  width: 100%;
  height: fit-content;
}

.worksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--rtc-l-spacing);
  width: 80%;
  background-color: var(--rtc-davys-gray);
  color: var(--rtc-grey);
  padding: var(--rtc-l-spacing) 0;
}

.sources {
  font-size: 15px;
  padding-left: var(--rtc-s-spacing);
}

.sources,
.landingImage {
  border-bottom: 1px solid var(--rtc-grey);
}

.title,
.worksHeader {
  color: var(--rtc-seasalt);
}

.worksHeader {
  width: 100%;
  border-bottom: 1px solid var(--rtc-bright-green);
  display: flex;
  align-items: center;
  justify-content: start;
}

.workContainer {
  border: 1px solid var(--rtc-seasalt);
  width: 100%;
  height: fit-content;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--rtc-m-spacing);
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-s-spacing);
  padding: var(--rtc-s-spacing);
}

.worksButton {
  width: fit-content;
}

@media screen and (min-width: 500px) {
  .landingImage {
    width: 15rem;
    height: 8rem;
  }

  .workContainer {
    width: min-content;
  }
}
