.mediaImages {
  border-radius: 100%;
  width: 3rem;
  border: 2px solid var(--rtc-bright-green);
  transition: ease 2s;
  box-shadow: 0px 2px 20px 5px rgba(89, 255, 0, 0.75);
}

.mediaImages:hover {
  transition: ease 2s;
  box-shadow: none;
}

footer > h3 {
  color: var(--rtc-grey);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: var(--rtc-davys-gray);
  padding: var(--rtc-l-spacing) var(--rtc-xl-spacing);
  padding-left: 0;
  border-top: 1px solid var(--rtc-bright-green);
}

footer > ul {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
